.nxtwindow{
    width: 36%;
    padding: 3% 3% 2% 4%;
    margin: auto;
    box-shadow: 0 0 4px 2px #716b6b;
}

.heading{
    font-family: sans-serif;
    font-size: xx-large;
    margin-top: 1%;
    margin-bottom: 1%;
}
/* .txtarea{
    margin: 2px 25px -19px 8px;
    /* padding: 8px 13px 2px 13px; */
} */